# 상위 디렉터리에서 .editorconfig 설정을 상속하려면 아래 행을 제거하세요.
root = true

# 모든 파일
[*]
charset = utf-8

[*.{cs,vb}]

# IDE0130: 네임스페이스가 폴더 구조와 일치하지 않습니다.
dotnet_diagnostic.IDE0130.severity = none

[*.cs]
# 조건문과 함수 정의 후에 줄바꿈 대신 공백을 권장 (하기 명시되지 않은 경우)
csharp_new_line_before_open_brace = namespace, types